@import '../../../../styles-var/devui-var.scss';

.#{$devui-prefix}-table__sort-clickable {
  flex: 1;
  height: 19px; 
  line-height: 19px;
  margin-left: 8px;
  margin-right: 4px;
  vertical-align: -0.55em;
  cursor: pointer;


  svg {
    width: 16px !important; 
    height: 16px !important;
    display: inline-block;
    transform: scale(1); 
    transform-origin: center center; 
  }
}

.#{$devui-prefix}-table__sort-default {
  > svg g polygon {
    fill: none;
    stroke: var(--devui-base-bg-dark,#252b3a);
    stroke-width: 0.7px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 1;
    transition: all 0.2s ease;
  }

  &:hover {
    > svg g polygon {
      stroke: var(--devui-primary-hover,#7693f5);
    }
  }
}

.#{$devui-prefix}-table__sort-asc {
  > svg g {
    polygon:first-of-type {
      fill: var(--devui-primary-hover,#7693f5);
      stroke: var(--devui-primary-hover,#7693f5);
      stroke-width: 0.7px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 1;
      opacity: 1;
    }
    polygon:last-of-type {
      fill: none;
      stroke: var(--devui-primary-hover,#7693f5);
      stroke-width: 0.7px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 1;
      opacity: 1;
    }
  }

  &:hover {
    > svg g polygon:first-of-type {
      fill: var(--devui-primary,#5e7ce0);
    }
  }
}

.#{$devui-prefix}-table__sort-desc {
  > svg g {
    polygon:first-of-type {
      fill: none;
      stroke: var(--devui-primary-hover,#7693f5);
      stroke-width: 0.7px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 1;
      opacity: 1;
    }
    polygon:last-of-type {
      fill: var(--devui-primary-hover,#7693f5);
      stroke: var(--devui-primary-hover,#7693f5);
      stroke-width: 0.7px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 1;
      opacity: 1;
    }
  }

  &:hover {
    > svg g polygon:last-of-type {
      fill: var(--devui-primary,#5e7ce0);
    }
  }
}